*{
    text-align: center;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
header {
    background: #ebebeb;
    line-height:70px ;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
nav {
  
    margin-bottom: 20px;
    background: #ebebeb;
    line-height:70px ;
    padding: 20px;
}
.section-container {
    
    background:#ebebeb;
    width: 495px;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 0 15px 0;    

}
article {

    padding:15px ;
    background:#777;
    width: 475px;
    float: left;
    height: 200px;
    margin-left: 10px;
    color: #ebebeb;
   
}
#hbox, #pbox {
    line-height: 50px;
    margin-top: 5px;
    background: #ebebeb;
    color:#777;
}
aside {
   float: right;
   width: 440px;
   height:272px;
   background: #ebebeb;
   margin-bottom: 20px;
   margin-top: 10px;
 
}
footer{
   
    background: #ebebeb;
    line-height:70px ;
    padding: 20px;
    margin-bottom: 20px;
    clear: both;

}